
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: 'Arvo', serif;
  color:#f7dba7;
  background-image: linear-gradient(#1e2d2f, #041f1e);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-dark .navbar-brand{
  color:#F1AB86; 
  font-size: xx-large;
}
.navbar-dark .navbar-nav .nav-link.active{
color:#F1AB86;
}
.container{
  border-color:#041f1e ;
  border-width: 4px;
  border-style: inset;
  padding: 4px;
}
.page-header{
  background-color: #C57B57;
  text-align: center;
  border-style: inset;
  border-width: 4px;
  border-color:#041f1e;
}
img{
  max-height:100%;
  max-width:100%;
}
.portfolio{
  margin: 5px;
  border-style: inset;
  border-width: 4px;
  border-color: #041f1e;
}
.self{
  border-style: inset;
  border-width: 4px;
  border-color: #F1AB86;
  margin: 5px;
}
a {
  color: #f7dba7;
}
a:hover {
  color:  #C57B57;
}