body{
  color: white;
  background-color: hsl(189, 6%, 23%);
  font-style: oblique;
}
header{
  padding: 10px;
  background-color: hsl(283, 47%, 18%);
}
section{
  margin: 10px;
  border-color:hsl(283, 47%, 18%);
  border-width: 5px;
  padding: 25px;
  border-style: inset;
  border-radius: 25px;
}
.round{
  text-align: center;
  border-radius: 175px;
  padding: 20px;
}
img{
  max-height:100%;
  max-width: 100%;
}
h3{
  border-bottom: 1px solid
}
.size{
  width: 100px;
  height: 100px;
}