body{
  color: white;
  background-color: hsl(189, 6%, 23%);
  font-style: oblique;
}
header{
  padding: 10px;
  background-color: hsl(283, 47%, 18%);
}
section{
  margin: 10px;
  border-color:hsl(283, 47%, 18%);
  border-width: 10px;
  padding: 25px;
  border-style: inset;
  border-radius: 25px;
}
.round{
  text-align: center;
  border-radius: 175px;
  padding: 20px;
}
.project{
  height: 200px;
  width: 300px;
}
.headshot{
  height: 300px;
  width: 300px;
}
h3{
  border-bottom: 1px solid
}
.size{
  width: 150px;
  height: 150px;
}
button{
  opacity: 0;
  color: white;
}
.underline:hover{
  text-decoration: underline;
}
.highlight:hover{
  background-color:hsl(283, 47%, 18%)
}
Row{
margin: 5px;
}