body{
  font-size: 15px;
  color: white;
  background-color: hsl(189, 6%, 23%);
  font-style: oblique;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
header{
  padding: 5px;
  background-color: hsl(283, 47%, 18%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
}
section{
  margin-top: 30px;
  border-color:hsl(283, 47%, 18%);
  background-color: hsl(189, 6%, 23%);
  border-width: 10px;
  padding: 25px;
  border-style: inset;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0)inset;
  min-height: 100px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.round{
  border-radius: 175px;
  padding: 20px;
}
.project{
  height: 200px;
  /* width: 400px; */
}
.headshot{
  height: 300px;
}
h3{
  border-bottom: 1px solid
}
summary {
  font-size: 20px;
  border-bottom: 1px dashed
}
.size{
  width: 50px;
  height: 50px;
}
.underline:hover{
  text-decoration: underline;
}
.btn{
  font-size: 20px;
}
.down {
  font-size: 20px;
  margin: 20px;
  border-bottom: 1px dotted;
}